* {
  box-sizing: border-box;
  margin: 0;
}

p {
  font-weight: 400;
}

.FAQ-container {
  background-color: #8008fd;
  width: auto;
  height: 29.25rem;
  padding: 130px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.faq-text {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-row {
  display: flex;
  justify-content: space-between;
}
