* {
  box-sizing: border-box;
  margin: 0;
}

.accordion {
  max-width: 100%;
  margin: 2rem auto;
  background-color: #8008fd;
  padding: 5%;
  font-family: "Roboto";
}

.faq-h1 {
  font-weight: 400;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #8008fd;
}

.accordion-title:hover {
  background-color: #2e2e2e;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: #2e2e2e;
}

@media screen and (max-width: 500px) {
  .accordion > h1 {
    font-size: 1rem;
  }
  .accordion {
    font-size: 0.8rem;
  }
}
