.language-selector {
    width: 100%;
    height: auto;
}

.language-selector > select {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Montserrat";
    cursor: pointer;
}


.language-selector > select > option {
    background-color: transparent;
    color: black;
    outline: none;
    
}