.logobar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  background-color: #464646;
}

.logobar-container > img {
  padding: 25px;
  height: 100%;
}

@media (max-width: 600px) {
  .logobar-container > img {
    height: 100%;
    width: auto;
    object-fit: contain;
  }
}

@media (max-width: 414px) {
  .logobar-container > img {
    height: 85px;
    width: auto;
    object-fit: contain;
  }
}

@media (max-width: 390px) {
  .logobar-container > img {
    height: 80px;
    width: auto;
    object-fit: contain;
  }
}

@media (max-width: 375px) {
  .logobar-container > img {
    height: 80px;
    width: auto;
    object-fit: contain;
  }
}
