@media (max-width: 600px) {
  .logobar > img {
    height: 90%;
    width: auto;
    object-fit: contain;
  }
}

@media (max-width: 414px) {
  .logobar > img {
    height: 80%;
    width: auto;
    object-fit: contain;
  }
}

@media (max-width: 390px) {
  .logobar > img {
    height: 80%;
    width: auto;
    object-fit: contain;
  }
}

@media (max-width: 375px) {
  .logobar > img {
    height: 80%;
    width: auto;
    object-fit: contain;
  }
}
