li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */

.homepage-navbar {
  width: 100%;
}

.navbar {
  display: flex;

  align-items: center;

  justify-content: space-between;
  font-size: 1.25rem !important;
  font-family: "Montserrat";
  font-style: normal !important;
  font-weight: 400 !important;
  width: 100%;
  height: 7.313rem;
}

.nav-links a {
  color: #fff;
}

/* LOGO */

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.25rem;
  font-weight: 400;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  margin-left: 9.438rem;
}

/* NAVBAR MENU */

.menu {
  display: flex;

  gap: 1em;
  font-style: normal;
  font-size: 1rem;
  line-height: 30px;
  margin-right: 9.438rem;
}

.menu li:hover {
  background-color: transparent;

  border-radius: 5px;

  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */

.services {
  position: relative;
}

.dropdown {
  background-color: rgb(1, 139, 139);

  padding: 1em 0;

  position: absolute; /*WITH RESPECT TO PARENT*/

  display: none;

  border-radius: 8px;

  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;

  width: 8em;

  text-align: center;
}

.dropdown li:hover {
  background-color: transparent;
}

.services:hover .dropdown {
  display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/

/* CHECKBOX HACK */

input[type="checkbox"] {
  display: none;
}

/*HAMBURGER MENU*/

.hamburger {
  display: none;

  font-size: 24px;

  user-select: none;
}

/* APPLYING MEDIA QUERIES */

@media (max-width: 768px) {
  .menu {
    display: none;

    position: absolute;

    background-color: teal;

    right: 0;

    left: 0;

    text-align: center;

    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;

    background-color: #4c9e9e;

    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;

    top: 30px;

    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: #4c9e9e;
  }
}
