.footer-bottom {
  height: 78px;
  background-color: #8008fd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "roboto";
  font-weight: 300;
  font-size: 18px;
}

@media (max-width: 414px) {
  .footer-bottom > p {
    font-size: 14px;
  }
}
