.footer-section {
  height: 100%;
  width: 100%;
  background-color: #232323;
  border-top: 1px solid white;
  display: flex;
  justify-content: center;
  gap: 6.25rem;
}

.footer-container {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  padding: 2.5rem 0px 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.icon-container {
  padding-right: 5px;
  display: flex;
  gap: 10px;
}

.icon-container > img {
  width: auto;
  height: 17px;
}

.footer-container > h2 {
  font-size: 18px;
  font-weight: 500;
}

.footer-container > h4 {
  color: #979797;
  font-family: "Poppins";
  font-weight: 500;
}

.footer-container > p {
  font-size: 14px;
  font-weight: 400;
}

.footer-container > div > input {
  border: none;
  padding: 0px 20px 20px 0px;
  border-bottom: #4d636c 1px solid;
  background: none;
  outline: none;
}

.footer-input-button {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: auto;
  outline: none;
}

.footer-button {
  padding: 5px;
  border-bottom: #4d636c 1px solid;
}

.about-button {
  cursor: pointer;
}

.footer-section > div:nth-child(2n) {
  border-left: 1px solid #8008fd;
  border-right: 1px solid #8008fd;
  padding: 2.5%;
}

.icon-container div > button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  outline: none;
  cursor: pointer;
}

.icon-container div > button:hover {
  color: #4d636c;
  cursor: pointer;
}

.margin-0 {
  margin: auto;
}

@media (max-width: 900px) {
  .footer-container {
    padding: 0;
    font-size: 14px;
  }
}
