img {
    max-width: 100%;
    height: auto;
  }
  
  /* button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
   */

.picture-slider-container {
    width: 100%;
    height: auto;
    padding: 100px;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
