.web-dev-process {
  width: 100%;
  height: 28.188rem;
  max-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-family: "Roboto";
  background-color: #8008fd;
  padding: 0px 350px 0px 350px;
}

.header-text {
  padding-top: 1.875rem;
}

.header-text > h3 {
  font-weight: 600;
  font-family: "Roboto";
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.header-text > p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

.steps-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 25px;
  align-items: baseline;
}

.progress-bar {
  height: 9.375;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.text-bar {
  width: 11.875rem;
}

.hidden-div {
  visibility: hidden;
  width: 9.375rem;
}

.circle {
  background-color: #d9d9d9;
  max-width: fit-content;
  border-radius: 50%;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #8008fd;
  position: relative;
  top: 0px;
  z-index: 10;
}

.bar {
  background-color: #ddbff5;
  width: 11.25rem;
  height: 3px;
  position: relative;
  left: 0;
  top: 1.25rem;
  z-index: 1;
}

.steps-container:hover > :nth-child(2n + 2) {
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media (max-width: 900px) {
  .web-dev-process {
    display: none;
  }
}

@keyframes slide-bottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30px);
  }
}

.steps-container:hover > :nth-child(2n + 1) {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}
