.web-dev-process {
    width: auto;
    height: 451px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto';
    background-color: #8008FD;
    padding: 0px 350px 0px 350px;
}

.header-text {
    padding-top: 30px;
}

.header-text > h3 {
    font-weight: 600;
}

.header-text > p {
    font-size: 18px;
    font-weight: 400;
}

.steps-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 25px;
    align-items: baseline;
}

.progress-bar {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.text-bar {
    width: 190px;
}

.hidden-div {
    visibility: hidden;
    width: 150px;
}

.circle {
    background-color: #D9D9D9;
    max-width: fit-content;
    border-radius: 50%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #8008FD;
    position: relative;
    top: 0px;
    z-index: 10;
}

.bar {
    background-color: #DDBFF5;
    width: 180px;
    height: 3px;
    position: relative;
    left: 0;
    top: 20px;
    z-index: 1;
}

